@{
    ViewData["Title"] = "Home Page";
}

<div class="buttonColumn">
    <div class="buttonLine">

        <div class="form-group-btn">
            <form asp-controller="Book" asp-action="ViewOneBook" method="get" class="buttonCol">
                <i class="fa-solid fa-magnifying-glass fa-5x" style="margin-bottom:5px;"></i>
                <button type="submit" class="buttonStyle">Find a Book</button>
            </form>
        </div>


        <div class="form-group-btn">
            <form asp-controller="Book" asp-action="ViewBooks" method="get" class="buttonCol">
                <i class="fa-regular fa-rectangle-list fa-5x"></i>
                <button type="submit" class="buttonStyle">View All Our Books</button>
            </form>
        </div>


        <div class="form-group-btn">
            <form asp-controller="Book" asp-action="AddBook" method="get" class="buttonCol">
                <i class="fa-solid fa-folder-plus fa-5x"></i>
                <button type="submit" class="buttonStyle">Add a Book</button>
            </form>
        </div>



    </div>
</div>