<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookStoreV2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

    <header>
        <div class="navBar">
            <nav>
                <form class="banner" asp-controller="Book" asp-action="SearchBook" method="get" style="display: flex; justify-content: space-between; align-items: center;">
                    <a class="homeButton" asp-controller="Home" asp-action="Index" style="text-decoration:none; color:inherit;">
                        <h2><i class="fa-solid fa-house-chimney fa-2x"></i></h2>
                    </a>
                    <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
                        <input class="searchBar" type="text" placeholder="Search for Title, Author, or Genre ..." name="searchString" id="searchString" style="margin-right:80px;">
                        <button class="searchButton" asp-controller="Book" asp-action="SearchBook" method="get">
                            <i class="fa-solid fa-magnifying-glass fa-3x" style="margin-left:1px;"></i>
                        </button>
                    </div>
                </form>
            </nav>
        </div>
        <div class="PictureBanner">

            <div class="PictureLine">


                <img class="imageDeal" src="https://bilder.akademibokhandeln.se/images_akb/9780008471286_383/the-lord-of-the-rings"
                     style="margin-top: 8px; margin-bottom:8px;margin-left:50px;" alt="Lord of the Rings">

                <img class="imageDeal" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxhjwb4M170jnrep9MPMiEREs5C-aCzZbFpw&usqp=CAU"
                     style="margin-top: 8px; margin-bottom:8px; " alt="The God Delusion">

                <img class="imageDeal" src="https://cdn.britannica.com/21/182021-050-666DB6B1/book-cover-To-Kill-a-Mockingbird-many-1961.jpg"
                     style="margin-top: 8px; margin-bottom:8px;margin-right:50px; " alt="To Kill A Mockingbird">
            </div>
        </div>
    </header>


    <main role="main" class="pb-3">
        <div class="bodyContainer">
            @RenderBody()
        </div>
    </main>




    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - BooStoreV2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
